.fbi{
    
    
    height:38px !important;
    margin-right: 10px !important;
    margin-left: 5px !important;
    margin-top: 2px !important;
    
    width:38px !important;
}
.fbi1{
    
    
    height:38px !important;
    margin-right: 10px !important;
    margin-left: 5px !important;
    margin-top: 2px !important;
    color:red !important;
    width:38px !important;
}