
* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: white
}
.hu{
  background-color: transparent;
}
.ModalIg h1{
  background-color: transparent;
  color:white;
}
.ModalIg{
  position: absolute;
  top:0;
  left:0;
  flex-direction: column;
  z-index: 1000;
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0,0.7)
}
